<%- include('./partials/sidebar'); %>
    <%- include('./partials/header'); %>
        <style>
            .image-card {
                width: 250px;
                height: 320px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                padding: 10px;
                background: #d0d1d3;
                text-align: center;
            }
            
            .image-card img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 8px;
            }
            
            .image-card .delete-btn {
                color: red;
                font-weight: bold;
                cursor: pointer;
            }
        </style>
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header pb-0">
                            <div class="d-lg-flex">
                                <div>
                                    <h5 class="mb-0">All Categories</h5>
                                </div>
                                <div class="ms-auto my-auto mt-lg-0 mt-4">
                                    <div class="ms-auto my-auto">
                                        <a href="#" class="btn btn-primary btn-sm mb-0" data-bs-toggle="modal" data-bs-target="#import">+&nbsp; New Category</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-0">
                            <div class="table-responsive">
                                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">

                                    <div class="dataTable-container">
                                        <table class="table align-items-center mb-0" id="datatable">
                                            <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom Francais</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom Arabe</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom Anglais</th>

                                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Operations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% category.map(cat=>{ %>
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex px-2 py-1">
                                                                <div class="d-flex flex-column justify-content-center">
                                                                    <h6 class="mb-0 text-sm">
                                                                        <%= cat.name_fr %>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex px-2 py-1">
                                                                <div class="d-flex flex-column justify-content-center">
                                                                    <h6 class="mb-0 text-sm">
                                                                        <%= cat.name_ar %>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex px-2 py-1">
                                                                <div class="d-flex flex-column justify-content-center">
                                                                    <h6 class="mb-0 text-sm">
                                                                        <%= cat.name_en %>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="align-middle">
                                                            <center>
                                                                <a data-id="<%= cat.id %>" data-nom='<%= cat.name_fr %>' class="text-secondary font-weight-bold text-xs" id="delete_btn" data-bs-target="#delete" href="" data-bs-toggle="modal" data-toggle="tooltip" data-original-title="delete category">
                                                                    <i class="fas fa-trash-alt" style="font-size: large; color: rgb(187, 18, 18);" class="pe-2 btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-container="body" title="delete" data-animation="true"></i>
                                                                </a>
                                                                <a data-id="<%= cat.id %>" data-nom_fr='<%= cat.name_fr %>' data-nom_ar='<%= cat.name_ar %>' data-nom_en='<%= cat.name_en %>' data-image='<%= cat.image %>' id="edit_btn" href="" data-bs-toggle="modal" data-bs-target="#edit" class="ms-3 text-secondary font-weight-bold text-xs"
                                                                    data-toggle="tooltip" data-original-title="Edit category">
                                                                    <i class="fas fa-edit" style="font-size: large; color: rgb(23, 23, 177);" data-bs-toggle="tooltip" data-bs-placement="top" title="edit" data-container="body" data-animation="true"></i>
                                                                </a>

                                                            </center>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Modal ADD -->
        <div class="modal fade" id="import" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog mt-lg-10 modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">ADD Category</h5>
                        <i class="fas fa-upload ms-3"></i>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="name_fr">Nom franacais</label>
                                <div class="input-group mb-3">
                                    <input id="name_fr" name="name_fr" type="text" class="form-control" placeholder="name..." aria-label="name_fr" aria-describedby="name-addon">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="name_ar">Nom arabe</label>
                                <div class="input-group mb-3">
                                    <input id="name_ar" name="name_ar" type="text" class="form-control" placeholder="name..." aria-label="name_ar" aria-describedby="name-addon">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="name_en">Nom anglais</label>
                                <div class="input-group mb-3">
                                    <input id="name_en" name="name_en" type="text" class="form-control" placeholder="name..." aria-label="name_en" aria-describedby="name-addon">
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <div class="card">
                                    <form class="form-control dropzone dz-clickable" id="dropzone">
                                        <div class="dz-default dz-message"><button class="dz-button" type="button">Drop files here to upload</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="add" class="btn btn-primary btn-sm">ADD</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal delete -->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="delete_id" name="delete_id" value=""> voulez vous
                        <code>supprimer</code> <b id="delete_nom">...</b> de la liste des Categories ?!
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modal_delete" class="btn bg-gradient-danger">oui</button>
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">annuler</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal edit -->
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <input type="hidden" id="edit_id" name="edit_id" value="">
                            <div class="col-lg-4">
                                <label for="edit_name">Nom francais</label>
                                <div class="input-group col-sm-6 mb-3">
                                    <input type="text" id='edit_name_fr' name='edit_name_fr' class="form-control" placeholder="name" required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="edit_name">Nom arabe</label>
                                <div class="input-group col-sm-6 mb-3">
                                    <input type="text" id='edit_name_ar' name='edit_name_ar' class="form-control" placeholder="name" required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="edit_name">Nom anglais</label>
                                <div class="input-group col-sm-6 mb-3">
                                    <input type="text" id='edit_name_en' name='edit_name_en' class="form-control" placeholder="name" required>
                                </div>
                            </div>

                            <div class="col-lg-12 mt-2 mb-2">
                                <div class="row" id="image_viewer">
                                </div>
                            </div>
                            <div class="col-lg-5" id="upload_container">
                                <label for="images">Upload new Images</label>
                                <div class="card">
                                    <form class="form-control dropzone dz-clickable" id="edit_dropzone">

                                        <div class="dz-default dz-message"><button class="dz-button" type="button">Drop files here to upload</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modal_edit" class="btn bg-gradient-success">mise a jour</button>
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">annuler</button>
                    </div>
                </div>
            </div>
        </div>



        <script src="../assets/js/plugins/dropzone.min.js"></script>
        <script type="text/javascript">
            Dropzone.autoDiscover = false;
            var drop = document.getElementById('dropzone');
            var myDropzone = new Dropzone(drop, {
                url: "/file/post",
                addRemoveLinks: true,
                maxFiles: 1, // Allow only 1 file
                acceptedFiles: 'image/*', // Accept only images
                init: function() {
                    // When a file is added, remove previous one (to enforce single upload)
                    this.on("addedfile", function(file) {
                        if (this.files.length > 1) {
                            this.removeFile(this.files[0]); // Remove the older file
                        }
                    });
                }
            });
            var edit_drop = document.getElementById('edit_dropzone')
            var edit_Dropzone = new Dropzone(edit_drop, {
                url: "/file/post",
                addRemoveLinks: true

            });
        </script>
        <script>
            $('#add').click(function() {
                var formData = new FormData();

                formData.append("name_fr", $('#name_fr').val());
                formData.append("name_en", $('#name_en').val());
                formData.append("name_ar", $('#name_ar').val());

                var images = myDropzone.files;
                images.forEach(image => {
                    formData.append("images", image);
                });

                $.ajax({
                    url: '/category/add',
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,

                    success: function(response) {
                        console.log(response);
                        Swal.fire({
                            icon: 'success',
                            title: 'Category Added!',
                            text: 'The category has been added successfully.',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            location.reload();
                        });
                    },
                    error: function() {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Something went wrong. Please try again.',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
        </script>
        <script>
            $("a[id='delete_btn']").click(function() {

                let id_delete = $(this).attr('data-id');
                let nom = $(this).attr("data-nom");

                $("#delete_nom").html(nom);
                $("#delete_id").val(id_delete);

            });

            $("button[id='modal_delete']").click(function() {
                let id = $("#delete_id").val();
                $.ajax({
                    url: '/category/delete/',
                    data: {
                        id
                    },
                    method: 'DELETE',
                    success: function(response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Category Deleted!',
                            text: 'The category has been deleted successfully.',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            location.reload();
                        });
                    },
                    error: function() {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Something went wrong. Please try again.',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
        </script>
        <script>
            var edited_img = false;
            $("a[id='edit_btn']").click(function() {
                edited_img = false;
                $("#image_viewer").empty();

                let id_edit = $(this).attr('data-id');
                let nom_fr = $(this).attr("data-nom_fr");
                let nom_ar = $(this).attr("data-nom_ar");
                let nom_en = $(this).attr("data-nom_en");
                let image = $(this).attr("data-image");

                $("#edit_id").val(id_edit);
                $("#edit_name_fr").val(nom_fr);
                $("#edit_name_ar").val(nom_ar);
                $("#edit_name_en").val(nom_en);
                $("#edit_image").val(image);

                if (image) {
                    edited_img = true;

                    let imageHtml = `
                                <div class="col-md-4">
                                    <div class="card card-profile card-plain image-card">
                                        <div class="card-body text-center bg-white shadow border-radius-lg p-3" style="border :2px solid #82d616">
                                            <a href="javascript:;">
                                                <img class="w-100 border-radius-md" src="uploads/${image.trim()}" alt="Product Image">
                                            </a>
                                            <p class="mt-3 mb-1 d-md-block d-none">${image.split('/').pop().replace(/^\d+_/, '')}</p>
                                            <a href="#" class="mb-0 text-xs font-weight-bolder text-danger text-gradient text-uppercase delete-image delete-btn" data-image="${image.trim()}">delete</a>
                                        </div>
                                    </div>
                                </div>
                            `;

                    $("#image_viewer").append(imageHtml);
                    $("#upload_container").hide();
                }
            });
            // Delete image
            $(document).on("click", ".delete-image", function(e) {
                e.preventDefault();

                let imageElement = $(this).closest(".col-md-4"); // Récupère le conteneur de l'image
                let imageName = $(this).attr("data-image"); // Récupère le nom de l'image
                let category_id = $("#edit_id").val(); // ID du produit

                console.log("imageName", imageName);
                console.log("category_id", category_id);

                $.ajax({
                    url: "/category/deleteimage", // Endpoint pour supprimer l'image côté serveur
                    type: "DELETE",
                    data: {
                        image: imageName,
                        id: category_id
                    },
                    success: function(response) {
                        if (response.success) {
                            imageElement.remove(); // Supprime l'image du DOM après succès
                            $("#upload_container").show();
                            edited_img = false;
                        } else {
                            alert("Erreur lors de la suppression de l'image.");
                        }
                    },
                    error: function() {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Something went wrong. Please try again.',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });

            // udpate the category 
            $("button[id='modal_edit']").click(function() {
                var formData = new FormData();
                formData.append("id", $('#edit_id').val());
                formData.append("name_fr", $('#edit_name_fr').val());
                formData.append("name_en", $('#edit_name_en').val());
                formData.append("name_ar", $('#edit_name_ar').val());


                if (!edited_img) {

                    var images = edit_Dropzone.files;
                    images.forEach(image => {
                        formData.append("images", image);
                    });
                }
                $.ajax({
                    url: '/category/update/',
                    method: 'PUT',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Category Updated!',
                            text: 'The category has been updated successfully.',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            location.reload();
                        });
                    },
                    error: function() {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Something went wrong. Please try again.',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
        </script>

        <%- include('./partials/footer'); %>