<%- include('./partials/sidebar'); %> <%- include('./partials/header'); %>

        <div class="container-fluid py-4">

            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-4 text-start">
                                    <div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">chiffre d'affaire</p>
                                        <h5 class="font-weight-bolder mb-0 text-gradient text-success">
                                            <b>
                                                <%= chiffreAffaire.chiffre_affaire %>.00 DA
                                            </b>
                                        </h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-4 ">
                                    <div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Meilleur produit</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <%= totalRevenueByProduct[0].name_fr %>
                                                <span class="text-success text-sm font-weight-bolder">
                                                    <%= totalRevenueByProduct[0].total_revenue %>.00 DA
                                                </span>
                                        </h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Meilleur Categorie par
                                            nombre de vente</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <%= bestCategorySellsByitem.name_fr %>
                                                <span class="text-success text-sm font-weight-bolder">
                                                    <%= bestCategorySellsByitem.total_sold %>.00 items
                                                </span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-4">
                <div class="col-lg-7 col-md-12">
                    <div class="card">
                        <div class="card-header pb-0 p-3">
                            <h6 class="mb-0">vend par mois</h6>
                            <div class="d-flex align-items-center">

                                <span class="badge badge-md badge-dot me-4">
                                    <i class="bg-info"></i>
                                    <span class="text-dark text-xs">Ventes</span>
                                </span>

                            </div>
                        </div>
                        <div class="card-body p-3">
                            <div class="chart">
                                <canvas id="chart-sellsMonth" class="chart-canvas" height="300"
                                    style="display: block; box-sizing: border-box; height: 300px; width: 890px;"
                                    width="890"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 mt-4 mt-lg-0">
                    <div class="card h-100">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex align-items-center">
                                <h6 class="mb-0">Commande par status</h6>

                            </div>
                        </div>
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-lg-5 col-12 text-center">
                                    <div class="chart mt-5">
                                        <canvas id="chart-status" class="chart-canvas" height="200"
                                            style="display: block; box-sizing: border-box; height: 200px; width: 244px;"
                                            width="244"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-12">
                                    <div class="table-responsive">
                                        <table class="table align-items-center mb-0">
                                            <tbody>
                                                <% status.map(statu=>{
                                                    let color= ""; if (statu.status_fr == 'en cours de livraison') color
                                                    = 'primary';
                                                    else if (statu.status_fr == 'annulé') color = 'danger';
                                                    else if (statu.status_fr == 'livré') color = 'success';
                                                    else if (statu.status_fr == 'en attente') color = 'info';
                                                    else if (statu.status_fr == 'payé') color = 'success';
                                                    %>
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex px-2 py-1">
                                                                <div>
                                                                    <span class="badge bg-gradient-<%= color %> ">&nbsp;
                                                                    </span>
                                                                </div>
                                                                <div class="d-flex flex-column justify-content-center ">
                                                                    <h6 class="mb-0 text-sm">
                                                                        &nbsp;&nbsp;<%= statu.status_fr %>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="align-middle text-center text-sm">
                                                            <span class="text-xs font-weight-bold">
                                                                <%= statu.total_quantity %>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <% }); %>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex align-items-center">
                                <h6 class="mb-0">chiffre d'affaires total par produit</h6>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <ul class="list-group">
                                <% totalRevenueByProduct.map(product=>{ %>
                                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                                        <div class="w-100">
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="me-2 text-sm font-weight-bold text-capitalize ms-2">
                                                    <%= product.name_fr %>
                                                </span>
                                                <span class="ms-auto text-sm font-weight-bold">
                                                    <%= product.revenue_percentage %>% (<%= product.total_revenue %>.00
                                                            DA)
                                                </span>
                                            </div>
                                            <div>
                                                <div class="progress progress-md">
                                                    <div class="progress-bar bg-gradient-dark w-<%= product.rounded_bucket %>"
                                                        role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card h-100 mt-4 mt-md-0">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex align-items-center">
                                <h6>Blacklist</h6>
                            </div>
                        </div>
                        <div class="card-body px-3 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center justify-content-center mb-0">
                                    <thead>
                                        <tr>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Client name</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Phone</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                email</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Quantité annulé</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% blacklist.map(client=> { %>
                                            <tr>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.name %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.phone %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.email %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.cancelled_orders %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-6">
                    <div class="card h-100 mt-4 mt-md-0">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex align-items-center">
                                <h6>meilleur client en termes de montant total dépensé</h6>
                            </div>
                        </div>
                        <div class="card-body px-3 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center justify-content-center mb-0">
                                    <thead>
                                        <tr>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Client name</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Phone</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                email</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Achats</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% bestClientSellsByMoney.map(client=> { %>
                                            <tr>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.name %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.phone %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.email %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.total_spent %>.00 DA
                                                    </p>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card h-100 mt-4 mt-md-0">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex align-items-center">
                                <h6>meilleur client en termes de nombre de produit acheté</h6>
                            </div>
                        </div>
                        <div class="card-body px-3 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center justify-content-center mb-0">
                                    <thead>
                                        <tr>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Client name</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Phone</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                email</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Achats</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% bestClientSellsByQuantity.map(client=> { %>
                                            <tr>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.name %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.phone %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.email %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="text-sm font-weight-bold mb-0">
                                                        <%= client.total_items %> produits
                                                    </p>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="../../assets/js/plugins/chartjs.min.js"></script>
        <script>
            let stausDATA = JSON.parse('<%- JSON.stringify(status) %>');
            let sellsMonthDATA = JSON.parse('<%- JSON.stringify(sellsByMonths) %>');

            console.log(stausDATA);
            console.log(stausDATA.map(statu => statu.status_fr))
            var sellsMonth_ctx1 = document.getElementById("chart-sellsMonth").getContext("2d");
            var status_ctx2 = document.getElementById("chart-status").getContext("2d");

            var gradientStroke1 = sellsMonth_ctx1.createLinearGradient(0, 230, 0, 50);

            gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');

            // Line chart
            new Chart(sellsMonth_ctx1, {
                type: "line",
                data: {
                    labels: sellsMonthDATA.map(sell => sell.mois),
                    datasets: [{
                        label: "Ventes",
                        tension: 0.4,
                        borderWidth: 0,
                        pointRadius: 2,
                        pointBackgroundColor: "#0c2ccb",
                        borderColor: "#6776e6",
                        borderWidth: 3,
                        backgroundColor: gradientStroke1,
                        data: sellsMonthDATA.map(sell => sell.total_ventes),
                        maxBarThickness: 6
                    }
                    ],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    },
                    interaction: {
                        intersect: false,
                        mode: 'index',
                    },
                    scales: {
                        y: {
                            grid: {
                                drawBorder: false,
                                display: true,
                                drawOnChartArea: true,
                                drawTicks: false,
                                borderDash: [5, 5]
                            },
                            ticks: {
                                display: true,
                                padding: 10,
                                color: '#9ca2b7'
                            }
                        },
                        x: {
                            grid: {
                                drawBorder: false,
                                display: true,
                                drawOnChartArea: true,
                                drawTicks: true,
                                borderDash: [5, 5]
                            },
                            ticks: {
                                display: true,
                                color: '#9ca2b7',
                                padding: 10
                            }
                        },
                    },
                },
            });


            // Doughnut chart
            new Chart(status_ctx2, {
                type: "doughnut",
                data: {
                    labels: stausDATA.map(statu => statu.status_fr),
                    datasets: [{
                        label: "Quantity",
                        weight: 9,
                        cutout: 60,
                        tension: 0.9,
                        pointRadius: 2,
                        borderWidth: 2,
                        backgroundColor: [
                            "#256e05",
                            "#4efc03",
                            "#086efc",
                            "#fc8803",
                            "#fc032c",
                        ],
                        data: stausDATA.map(statu => statu.total_quantity),
                        fill: false
                    }],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    },
                    interaction: {
                        intersect: false,
                        mode: 'index',
                    },
                    scales: {
                        y: {
                            grid: {
                                drawBorder: false,
                                display: false,
                                drawOnChartArea: false,
                                drawTicks: false,
                            },
                            ticks: {
                                display: false
                            }
                        },
                        x: {
                            grid: {
                                drawBorder: false,
                                display: false,
                                drawOnChartArea: false,
                                drawTicks: false,
                            },
                            ticks: {
                                display: false,
                            }
                        },
                    },
                },
            });
        </script>
        <%- include('./partials/footer'); %>