<form hx-put="/api/users/<%= user.id %>" hx-target="this" hx-swap="none">
    <div class="row">
        <input type="hidden" id="user_id" name="user_id" value="<%= user.id %>">
        
        <label for="username">Username</label>
        <div class="input-group col-sm-6 mb-3">
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" value="<%= user.username %>" readonly>
        </div>

        <label for="phone">Phone</label>
        <div class="input-group col-sm-6 mb-3">
            <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone" value="<%= user.phone %>" required>
        </div>

        <div class="form-group">
            <label for="role" class="form-label">Role</label>
            <select name="role" id="role" class="form-select text-uppercase">
                <option value="admin" <%= user.role === 'admin' ? 'selected' : '' %>>admin</option>
                <option value="agent" <%= user.role === 'agent' ? 'selected' : '' %>>data entry agent</option>
                <option value="supply_chain" <%= user.role === 'supply_chain' ? 'selected' : '' %>>supply chain</option>
            </select>
        </div>

        <!-- Error message area -->
        <div id="error-message" class="d-none text-danger fw-bold">
            
        </div>

        <div class="text-center ">
            <button type="submit" class="submit_btn btn btn-md bg_black text-white  mb-0 ">Submit</button>
        </div>
    </div>
</form>

<script>
    $(".modal-title").text("<%=form_title%>");

    htmx.on('htmx:beforeRequest', function () {
        // Disable the submit button to prevent multiple clicks
        $('.submit_btn').disabled = true;
    });

    htmx.on('htmx:afterRequest', (e) => {
        
        $('.submit_btn').disabled = false; // Enable the submit button

        if(e.detail.xhr.responseURL.includes("/api/users/<%= user.id %>") && e.detail.xhr.status === 200) {
            $("#error-message").addClass("d-none");
            $("#error-message").html("");

            $("#dialog").modal('hide');
            $(".toast-success-body").text("User updated successfully");
            $(".toast-success").show();
            
            setTimeout(() => {
                location.reload();
                $(".toast-success-body").text("");
                $(".toast-success").hide();
            }, 1000);
        }
       
    });

    htmx.on('htmx:responseError', (e) => {
        const url = e.detail.xhr.responseURL;
        const status = e.detail.xhr.status;

        if (url.includes("/api/users/<%= user.id %>")) {
            if (status === 400) {
                // Edit form error handling
                $("#error-message").removeClass("d-none");
                let message = JSON.parse(e.detail.xhr.responseText).error;
                $("#error-message").html(message);

                setTimeout(() => {
                    $("#error-message").addClass("d-none");
                    $("#error-message").html("");
                }, 5000);
            }

        }
    });

</script>