<form hx-patch="/api/rma/scrap_file/<%= rma.id %>" hx-target="this" hx-swap="none" hx-encoding = "multipart/form-data">
    <div class="row">
        <input type="hidden" id="rma_id" name="rma_id" value="<%= rma.id %>">
        
        <div class=" d-flex flex-column" >
            <label for="scrap_file" class="d-flex justify-content-between">
                <div class="align-self-center">
                    Scrap file<span class="text-danger" >*</span>
                </div>
                <button 
                    type="button" 
                    class="btn text-danger p-1" 
                    data-container="body" 
                    data-bs-toggle="popover" 
                    data-bs-placement="left" 
                    data-bs-html="true"
                    data-bs-content="<span class='text-dark fw-bold'> - Only PDF Files are allowed </span> <br> <span  class='fw-bold text-dark'>- File size must be less than 5MB </span>">
                    <i class="fas fa-question-circle fa-lg"></i>
                </button>
            </label>
            <input type="file" id="scrap_file" name="scrap_file" class="form-control" required>
        </div>

        <!-- Error message area -->
        <div id="error-message" class="d-none text-danger fw-bold">
            
        </div>

        <div class="text-center ">
            <button type="submit" class="submit_btn btn btn-md bg_black text-white  mb-0 ">Submit</button>
        </div>
    </div>
</form>

<script>
    $(".modal-title").text("<%=form_title%>");
    $(document).ready(function(){
        $('[data-bs-toggle="popover"]').popover();  
    });
    htmx.on('htmx:afterRequest', (e) => {

        if(e.detail.xhr.responseURL.includes("/api/rma/scrap_file/<%= rma.id %>") && e.detail.xhr.status === 204) {
            $("#error-message").addClass("d-none");
            $("#error-message").html("");

            $("#dialog").modal('hide');
            $(".toast-success-body").text("scrap file updated successfully");
            $(".toast-success").show();
            
            setTimeout(() => {
                location.reload();
                $(".toast-success-body").text("");
                $(".toast-success").hide();
            }, 1000);
        }
       
    });

    htmx.on('htmx:responseError', (e) => {
        const url = e.detail.xhr.responseURL;
        const status = e.detail.xhr.status;

        if (url.includes("/api/rma/scrap_file/<%= rma.id %>")) {
            if (status === 400) {
                // Edit form error handling
                $("#error-message").removeClass("d-none");
                let message = JSON.parse(e.detail.xhr.responseText).error;
                $("#error-message").html(message);

                setTimeout(() => {
                    $("#error-message").addClass("d-none");
                    $("#error-message").html("");
                }, 5000);
            }

        }
    });

</script>