<%- include('../partials/sidebar'); %>
    <%- include('../partials/header'); %>
    <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-html5-3.0.2/sb-1.7.1/b-colvis-3.2.0/sp-2.3.1/rr-1.5.0/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.8/b-3.2.0/b-colvis-3.2.0/sb-1.7.1/sp-2.3.1/jszip-2.5.0/b-html5-3.2.0/rr-1.5.0/datatables.min.js"></script>
  
    <style>
        .btn-close {
            font-size: 24px; 
            padding: 10px 20px; 
        }
    </style>
    <nav id="navbar-example" class="navbar bg_color  sticky-top px-3 mb-3">
        
        <a class="navbar-workshop text-white" href="#">Section</a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#zones_div">Zones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#workshop_div">Workshops</a>
            </li>
        </ul>
    </nav>
   
    <div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        
        <div class="row m-5 mx-3" id="zones_div">

            <div class="col-md-9 align-self-center"> 
                <h5>Zones List</h5>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
    
                <div  class="form-group">
                    <div class="input-group input-group-alternative ">
                        <button class="btn btn-xs bg_color px-3 text-white" 
                        data-bs-toggle="modal" data-bs-target="#dialog"  data-original-title="ADD"
                        hx-get="/api/zone/create" 
                        hx-target="#dialog-body"
                        hx-swap="innerHTML"
                        hx-indicator="#loading-spinner"
                        >
                            <i class="fa fa-plus me-2"></i>
                            ADD Zone
                        </button>
                    </div>
                </div>
            </div>
            <br><br>
            <% if (success && success.length > 0) { %>
                <div class="col-12" id="success-toast">
                    <div class="alert bg-success text-white font-weight-bold alert-dismissible fade show">
                        <%= success %>
                    </div>
                </div>
            <% } %>
    
            <div class="col-12" id="danger-toast" style="display: none;">
                <div class="alert bg-danger text-white font-weight-bold alert-dismissible fade show error_message">
                    
                </div>
            </div>
            <div class="row d-flex justify-content-center">
    
                <div class="col-12 card">
                    <div class="table-responsive p-4">
                        <table class="Table table align-items-center mb-0" id="zone-table">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center">
                                        Zone
                                    </th>
    
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder align-middle text-center opacity-7">
                                        Operation
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="program-table-body" hx-target="closest tr" hx-swap="outerHTML">
                                
                                <% zones.map(zone => { %>
                                    <tr class="py-2">
                                        
                                        <td class="align-middle text-center text-sm">
                                            <h5 class="mb-0 text-sm text-uppercase">
                                                <%= zone.name %>
                                            </h5>
                                        </td>
                                        
                                        <td class="align-end  text-end text-end">
                                            <div class="row flex-nowrap">
                                                <div class="col align-middle opacity-8">
                                                    <a  href="javascript:;"  data-bs-toggle="modal" 
                                                        data-bs-target="#dialog"  data-original-title="Edit"
                                                        class="text_main_color font-weight-bold text-sm" 
                                                        hx-get="/api/zone/edit"
                                                        hx-vals="js:{'id':'<%=zone.id%>'}"
                                                        hx-target="#dialog-body"
                                                        hx-swap="innerHTML"
                                                        hx-indicator="#loading-spinner">
                                                        <i class="fas fa-pencil-alt "></i>
                                                        <!-- Edit -->
                                                    </a>
                                                    </div>
                                                    
                                                    <div class=" col align-middle opacity-8">
                                                    <a  href="javascript:;" class="text-red font-weight-bold text-sm"
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#dialog"  data-original-title="Edit"
                                                        hx-get="/api/zone/delete" 
                                                        hx-vals="js:{'id':'<%= zone.id %>'}"
                                                        hx-target="#dialog-body"
                                                        hx-swap="innerHTML"
                                                        hx-indicator="#loading-spinner">
                                                        <i class="fas fa-trash text-danger"></i>
                                                        <!-- Delete -->
                                                    </a>
                                                    </div>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
            
        </div>
        <%- include('../toasts/success-toast'); %>
        <div class="row m-5 mx-3" id="workshops_div">
        
            <div class="col-md-9 align-self-center"> 
                <h5>Workshops List</h5>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
    
                <div  class="form-group">
                    <div class="input-group input-group-alternative ">
                        <button class="btn btn-xs bg_color px-3 text-white" 
                        data-bs-toggle="modal" data-bs-target="#workshop_dialog"  data-original-title="ADD"
                        hx-get="/api/workshop/create" 
                        hx-target="#workshop-dialog-body"
                        hx-swap="innerHTML"
                        hx-indicator="#workshop-loading-spinner"
                        >
                            <i class="fa fa-plus me-2"></i>
                            ADD WORKSHOP
                        </button>
                    </div>
                </div>
            </div>
            <br><br>
            <% if (success && success.length > 0) { %>
                <div class="col-12" id="success-toast">
                    <div class="alert bg-success text-white font-weight-bold alert-dismissible fade show">
                        <%= success %>
                    </div>
                </div>
            <% } %>
    
            <div class="col-12" id="danger-toast" style="display: none;">
                <div class="alert bg-danger text-white font-weight-bold alert-dismissible fade show error_message">
                    
                </div>
            </div>
            <div class="row d-flex justify-content-center">
               
                <div class="col-12 card">
                    <div class="table-responsive p-4">
                        <table class="Table table align-items-center mb-0" id="workshop-table">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center">
                                        Workshop
                                    </th>
    
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center">
                                        Zone
                                    </th>
    
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder align-middle text-center opacity-7">
                                        Operation
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="program-table-body" hx-target="closest tr" hx-swap="outerHTML">
                                
                                <% workshops.map(workshop => { %>
                                    <tr class="py-2">
                                        
                                        <td class="align-middle text-center text-sm">
                                            <h5 class="mb-0 text-sm text-uppercase">
                                                <%= workshop.name %>
                                            </h5>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <h5 class="mb-0 text-sm text-uppercase text-secondary">
                                                <%= workshop.zone_name %>
                                            </h5>
                                        </td>
                                        
                                        <td class="align-end  text-end text-end">
                                            <div class="row flex-nowrap">
                                                <div class="col align-middle opacity-8">
                                                    <a  href="javascript:;"  data-bs-toggle="modal" 
                                                        data-bs-target="#workshop_dialog"  data-original-title="Edit"
                                                        class="text_main_color font-weight-bold text-sm" 
                                                        hx-get="/api/workshop/edit"
                                                        hx-vals="js:{'id':'<%=workshop.id%>'}"
                                                        hx-target="#workshop-dialog-body"
                                                        hx-swap="innerHTML"
                                                        hx-indicator="#workshop-loading-spinner">
                                                        <i class="fas fa-pencil-alt "></i>
                                                        <!-- Edit -->
                                                    </a>
                                                    </div>
                                                    
                                                    <div class=" col align-middle opacity-8">
                                                    <a  href="javascript:;" class="text-red font-weight-bold text-sm"
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#workshop_dialog"  data-original-title="Edit"
                                                        hx-get="/api/workshop/delete" 
                                                        hx-vals="js:{'id':'<%= workshop.id %>'}"
                                                        hx-target="#workshop-dialog-body"
                                                        hx-swap="innerHTML"
                                                        hx-indicator="#workshop-loading-spinner">
                                                        <i class="fas fa-trash text-danger"></i>
                                                        <!-- Delete -->
                                                    </a>
                                                    </div>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
            
        </div>
    </div>

   
    <!-- Zone Modal -->
    <div class="modal fade" data-bs-backdrop="static" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                
                <div class="modal-header d-flex align-items-center flex-column  border-0 ">
                    <button type="button" class="btn-close text-black text-xxl" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                    <img src="https://img.icons8.com/external-neu-royyan-wijaya/100/external-company-neu-building-neu-royyan-wijaya.png" alt="external-company-neu-building-neu-royyan-wijaya"/>
                    <h4 class="nav-link-text font-weight-bold modal-title text-black text-uppercase " id="modal-title"></h4>
                    
                </div>

                <div id="error_message" class="alert bg-danger mx-3 font-weight-bold text-white alert-dismissible fade show error_message" role="alert" style="display: none;">
                    
                </div>
               
                <!-- Loading spinner -->
                <div id="loading-spinner" class="loading-spinner text-center py-3" style="display: none;">
                    <div class="spinner-border text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p>Loading...</p>
                </div>

                <div class="modal-body" id="dialog-body">
                
                 </div>
                 
            </div>
            
        </div>
    </div>

    <!-- Workshop Modal -->
    <div class="modal fade" data-bs-backdrop="static" id="workshop_dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                
                <div class="modal-header d-flex align-items-center flex-column  border-0 ">
                    <button type="button" class="btn-close text-black text-xxl" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                    <img src="https://img.icons8.com/dotty/100/workshop.png" alt="workshop"/>
                    <h4 class="nav-link-text font-weight-bold modal-title text-black text-uppercase " id="workshop-modal-title"></h4>
                    
                </div>

                <div id="error_message" class="alert bg-danger mx-3 font-weight-bold text-white alert-dismissible fade show error_message" role="alert" style="display: none;">
                    
                </div>

                <!-- Loading spinner -->
                <div id="workshop-loading-spinner" class="loading-spinner text-center py-3" style="display: none;">
                    <div class="spinner-border text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p>Loading...</p>
                </div>

                <div class="modal-body" id="workshop-dialog-body">
                    
                 </div>
                 
            </div>
            
        </div>
    </div>

    
    <%- include('../partials/footer'); %>
    <%- include('../partials/columnFilter'); %>

    <script>
        $(document).ready(function() {
            initializeDataTable('zone-table');
            initializeDataTable('workshop-table');
            setTimeout(()=>{
                
                $('#success-toast').addClass("d-none");

            }, 3000)
        });
    </script>

<script>
    $(document).on('click', '.btn-close', function () {
        $(".modal-title").text("");
    });

    htmx.on('htmx:beforeRequest', (e) => {
        const url = e.detail.elt.getAttribute('hx-get');

        // Handle Zone Modal
        if (url.includes("/zone")) {
            document.querySelector('#loading-spinner').style.display = 'block';
            document.getElementById('dialog-body').innerHTML = '';
        }

        // Handle Workshop Modal
        if (url.includes("/workshop")) {
            document.querySelector('#workshop-loading-spinner').style.display = 'block';
            document.getElementById('workshop-dialog-body').innerHTML = '';
        }
    });

    // Event listener for when the request completes (hide the spinner)
    htmx.on('htmx:afterRequest', function (e) {
        const url = e.detail.elt.getAttribute('hx-get');

        // Hide Zone Spinner
        if (url.includes("/zone")) {
            document.querySelector('#loading-spinner').style.display = 'none';
        }

        // Hide Workshop Spinner
        if (url.includes("/workshop")) {
            document.querySelector('#workshop-loading-spinner').style.display = 'none';
        }
    });

    // Event listener for handling request errors
    htmx.on('htmx:responseError', function (e) {
        const url = e.detail.elt.getAttribute('hx-get');

        // Hide Zone Spinner on Error
        if (url.includes("/zone")) {
            document.querySelector('#loading-spinner').style.display = 'none';
        }

        // Hide Workshop Spinner on Error
        if (url.includes("/workshop")) {
            document.querySelector('#workshop-loading-spinner').style.display = 'none';
        }
    });

</script>