<%- include('../partials/sidebar'); %>
    <%- include('../partials/header'); %>
    <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-html5-3.0.2/sb-1.7.1/b-colvis-3.2.0/sp-2.3.1/rr-1.5.0/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.8/b-3.2.0/b-colvis-3.2.0/sb-1.7.1/sp-2.3.1/jszip-2.5.0/b-html5-3.2.0/rr-1.5.0/datatables.min.js"></script>
  
    <style>
        .btn-close {
            font-size: 24px; 
            padding: 10px 20px; 
        }
    </style>
    <nav id="navbar-example" class="navbar bg_color  sticky-top px-3 mb-3">
        <a class="navbar-type text-white" href="#">Section</a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#types_div">Types</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#categories_div">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#products_div">Products</a>
            </li>
        </ul>
    </nav>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <!-- Types -->
        <div class="row m-5 mx-3" id="types_div">
        
            <div class="col-md-9 align-self-center"> 
                <h5>Types List</h5>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
    
                <div  class="form-group">
                    <div class="input-group input-group-alternative ">
                        <button class="btn btn-xs bg_color px-3 text-white" 
                        data-bs-toggle="modal" data-bs-target="#product_type_dialog"  data-original-title="ADD"
                        hx-get="/api/product_type/create" 
                        hx-target="#product_type-dialog-body"
                        hx-swap="innerHTML"
                        hx-indicator="#type-loading-spinner"
                        >
                            <i class="fa fa-plus me-2"></i>
                            ADD TYPE
                        </button>
                    </div>
                </div>
            </div>
            <br><br>
            <% if (success && success.length > 0) { %>
                <div class="col-12" id="success-toast">
                    <div class="alert bg-success text-white font-weight-bold alert-dismissible fade show">
                        <%= success %>
                    </div>
                </div>
            <% } %>
    
            <div class="col-12" id="danger-toast" style="display: none;">
                <div class="alert bg-danger text-white font-weight-bold alert-dismissible fade show error_message">
                    
                </div>
            </div>
            <div class="row d-flex justify-content-center">
               
                <div class="col-12 card">
                    <div class="table-responsive p-4">
                        <table class="Table table align-items-center mb-0" id="product_type_table">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center">
                                        Type
                                    </th>

                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder align-middle text-center opacity-7">
                                        Operation
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="program-table-body" hx-target="closest tr" hx-swap="outerHTML">
                                
                                <% product_types.map(type => { %>
                                    <tr class="py-2">
                                        
                                        <td class="align-middle text-center text-sm">
                                            <h5 class="mb-0 text-sm text-uppercase">
                                                <%= type.name %>
                                            </h5>
                                        </td>
                                        
                                        <td class="align-end  text-end text-end">
                                            <div class="row flex-nowrap">
                                                <div class="col align-middle opacity-8">
                                                    <a  href="javascript:;"  data-bs-toggle="modal" 
                                                        data-bs-target="#product_type_dialog"  data-original-title="Edit"
                                                        class="text_main_color font-weight-bold text-sm" 
                                                        hx-get="/api/product_type/edit"
                                                        hx-vals="js:{'id':'<%=type.id%>'}"
                                                        hx-target="#product_type-dialog-body"
                                                        hx-swap="innerHTML"
                                                        hx-indicator="#type-loading-spinner">
                                                        <i class="fas fa-pencil-alt "></i>
                                                        <!-- Edit -->
                                                    </a>
                                                    </div>
                                                    
                                                    <div class=" col align-middle opacity-8">
                                                    <a  href="javascript:;" class="text-red font-weight-bold text-sm"
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#product_type_dialog"  data-original-title="Edit"
                                                        hx-get="/api/product_type/delete" 
                                                        hx-vals="js:{'id':'<%= type.id %>'}"
                                                        hx-target="#product_type-dialog-body"
                                                        hx-swap="innerHTML"
                                                        hx-indicator="#type-loading-spinner">
                                                        <i class="fas fa-trash text-danger"></i>
                                                        <!-- Delete -->
                                                    </a>
                                                    </div>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
            
        </div>
      

        <%- include('../toasts/success-toast'); %>

        <!-- Categories -->
        <div class="row m-5 mx-3" id="categories_div">
        
            <div class="col-md-9 align-self-center"> 
                <h5>Categories List</h5>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
    
                <div  class="form-group">
                    <div class="input-group input-group-alternative ">
                        <button class="btn btn-xs bg_color px-3 text-white" 
                        data-bs-toggle="modal" data-bs-target="#category_dialog"  data-original-title="ADD"
                        hx-get="/api/product_category/create" 
                        hx-target="#category-dialog-body"
                        hx-swap="innerHTML"
                        hx-indicator="#category-loading-spinner"
                        >
                            <i class="fa fa-plus me-2"></i>
                            ADD CATEGORY
                        </button>
                    </div>
                </div>
            </div>
            <br><br>
            <% if (success && success.length > 0) { %>
                <div class="col-12" id="success-toast">
                    <div class="alert bg-success text-white font-weight-bold alert-dismissible fade show">
                        <%= success %>
                    </div>
                </div>
            <% } %>
    
            <div class="col-12" id="danger-toast" style="display: none;">
                <div class="alert bg-danger text-white font-weight-bold alert-dismissible fade show error_message">
                    
                </div>
            </div>
            <div class="row d-flex justify-content-center">
               
                <div class="col-12 card">
                    <div class="table-responsive p-4">
                        <table class="Table table align-items-center mb-0" id="category-table">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center">
                                        Category
                                    </th>

                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder align-middle text-center">
                                        Type
                                    </th>

                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder align-middle text-center opacity-7">
                                        Operation
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="program-table-body" hx-target="closest tr" hx-swap="outerHTML">
                                
                                <% categories.map(category => { %>
                                    <tr class="py-2">
                                        
                                        <td class="align-middle text-center text-sm">
                                            <h5 class="mb-0 text-sm text-uppercase">
                                                <%= category.name %>
                                            </h5>
                                        </td>

                                        <td class="align-middle text-center text-sm">
                                            <h5 class="mb-0 text-sm text-uppercase">
                                                <%= category.product_type %>
                                            </h5>
                                        </td>
                                        
                                        <td class="align-end  text-end text-end">
                                            <div class="row flex-nowrap">
                                                <div class="col align-middle opacity-8">
                                                    <a  href="javascript:;"  data-bs-toggle="modal" 
                                                        data-bs-target="#category_dialog"  data-original-title="Edit"
                                                        class="text_main_color font-weight-bold text-sm" 
                                                        hx-get="/api/product_category/edit"
                                                        hx-vals="js:{'id':'<%=category.id%>'}"
                                                        hx-target="#category-dialog-body"
                                                        hx-swap="innerHTML"
                                                        hx-indicator="#category-loading-spinner">
                                                        <i class="fas fa-pencil-alt "></i>
                                                        <!-- Edit -->
                                                    </a>
                                                    </div>
                                                    
                                                    <div class=" col align-middle opacity-8">
                                                    <a  href="javascript:;" class="text-red font-weight-bold text-sm"
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#category_dialog"  data-original-title="Edit"
                                                        hx-get="/api/product_category/delete" 
                                                        hx-vals="js:{'id':'<%= category.id %>'}"
                                                        hx-target="#category-dialog-body"
                                                        hx-swap="innerHTML"
                                                        hx-indicator="#category-loading-spinner">
                                                        <i class="fas fa-trash text-danger"></i>
                                                        <!-- Delete -->
                                                    </a>
                                                    </div>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
            
        </div>

          <!-- Products -->
          <div class="row m-5 mx-3" id="products_div">

            <div class="col-md-9 align-self-center"> 
                <h5>Products List</h5>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
    
                <div  class="form-group">
                    <div class="input-group input-group-alternative ">
                        <button class="btn btn-xs bg_color px-3 text-white" 
                        data-bs-toggle="modal" data-bs-target="#dialog"  data-original-title="ADD"
                        hx-get="/api/product/create" 
                        hx-target="#dialog-body"
                        hx-swap="innerHTML"
                        hx-indicator="#loading-spinner"
                        >
                            <i class="fa fa-plus me-2"></i>
                            ADD PRODUCT
                        </button>
                    </div>
                </div>
            </div>
            <br><br>
            <% if (success && success.length > 0) { %>
                <div class="col-12" id="success-toast">
                    <div class="alert bg-success text-white font-weight-bold alert-dismissible fade show">
                        <%= success %>
                    </div>
                </div>
            <% } %>
    
            <div class="col-12" id="danger-toast" style="display: none;">
                <div class="alert bg-danger text-white font-weight-bold alert-dismissible fade show error_message">
                    
                </div>
            </div>
            <div class="row d-flex justify-content-center">
    
                <div class="col-12 card">
                    <div class="table-responsive p-4">
                        <table class="Table table align-items-center mb-0" id="product-table">
                            <thead>
                                <tr>
                                    <th class="text-start text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center">
                                        Product
                                    </th>

                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center">
                                       Category
                                    </th>
    
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center">
                                        Size
                                    </th>

                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder align-middle text-center opacity-7">
                                        Operation
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="program-table-body" hx-target="closest tr" hx-swap="outerHTML">
                                
                                <% products.map(product => { %>
                                    <tr class="py-2">
                                        
                                        <td class="align-middle text-center text-sm">
                                            <h5 class="mb-0 text-sm text-uppercase">
                                                <%= product.name %>
                                            </h5>
                                        </td>

                                        <td class="align-middle text-center text-sm">
                                            <h5 class="mb-0 text-sm text-secondary">
                                                <%= product.category_name %>
                                            </h5>
                                        </td>

                                        <td class="align-middle text-center text-sm">
                                            <h5 class="mb-0 text-sm text-uppercase text-secondary">
                                                <%= product.size %>
                                            </h5>
                                        </td>
                                        <td class="align-end  text-end text-end">
                                            <div class="row flex-nowrap">
                                                <div class="col align-middle opacity-8">
                                                    <a  href="javascript:;"  data-bs-toggle="modal" 
                                                        data-bs-target="#dialog"  data-original-title="Edit"
                                                        class="text_main_color font-weight-bold text-sm" 
                                                        hx-get="/api/product/edit"
                                                        hx-vals="js:{'id':'<%=product.id%>'}"
                                                        hx-target="#dialog-body"
                                                        hx-swap="innerHTML"
                                                        hx-indicator="#loading-spinner">
                                                        <i class="fas fa-pencil-alt "></i>
                                                        <!-- Edit -->
                                                    </a>
                                                    </div>
                                                    
                                                    <div class=" col align-middle opacity-8">
                                                    <a  href="javascript:;" class="text-red font-weight-bold text-sm"
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#dialog"  data-original-title="Edit"
                                                        hx-get="/api/product/delete" 
                                                        hx-vals="js:{'id':'<%= product.id %>'}"
                                                        hx-target="#dialog-body"
                                                        hx-swap="innerHTML"
                                                        hx-indicator="#loading-spinner">
                                                        <i class="fas fa-trash text-danger"></i>
                                                        <!-- Delete -->
                                                    </a>
                                                    </div>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
            
        </div>
        
    </div>


    <!-- Product Modal -->
    <div class="modal fade" data-bs-backdrop="static" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                
                <div class="modal-header d-flex align-items-center flex-column  border-0 ">
                    <button type="button" class="btn-close text-black text-xxl" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                    <img src="https://img.icons8.com/pulsar-line/100/product.png" alt="product"/>
                    <h4 class="nav-link-text font-weight-bold modal-title text-black text-uppercase " id="modal-title"></h4>
                    
                </div>

                <div id="error_message" class="alert bg-danger mx-3 font-weight-bold text-white alert-dismissible fade show error_message" role="alert" style="display: none;">
                    
                </div>
               
                <!-- Loading spinner -->
                <div id="loading-spinner" class="loading-spinner text-center py-3" style="display: none;">
                    <div class="spinner-border text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p>Loading...</p>
                </div>

                <div class="modal-body" id="dialog-body" >
                    
                 </div>
                 
            </div>
            
        </div>
    </div>

    <!-- Category Modal -->
    <div class="modal fade" data-bs-backdrop="static" id="category_dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                
                <div class="modal-header d-flex align-items-center flex-column  border-0 ">
                    <button type="button" class="btn-close text-black text-xxl" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                    <img src="https://img.icons8.com/pulsar-line/100/diversity.png" alt="diversity"/>
                    <h4 class="nav-link-text font-weight-bold modal-title text-black text-uppercase " id="category-modal-title"></h4>
                    
                </div>

                <!-- Loading spinner -->
                <div id="category-loading-spinner" class="loading-spinner text-center py-3" style="display: none;">
                    <div class="spinner-border text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p>Loading...</p>
                </div>
               
                <div class="modal-body" id="category-dialog-body">
                    
                 </div>
                 
            </div>
            
        </div>
    </div>

    <!-- Product Type Modal -->
    <div class="modal fade" data-bs-backdrop="static" id="product_type_dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                
                <div class="modal-header d-flex align-items-center flex-column  border-0 ">
                    <button type="button" class="btn-close text-black text-xxl" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                    <img src="https://img.icons8.com/external-sbts2018-outline-sbts2018/100/external-category-basic-ui-elements-2.2-sbts2018-outline-sbts2018.png" alt="external-category-basic-ui-elements-2.2-sbts2018-outline-sbts2018"/>                    
                    <h4 class="nav-link-text font-weight-bold modal-title text-black text-uppercase " id="product_type-modal-title"></h4>
                    
                </div>
                <!-- Loading spinner -->
                <div id="type-loading-spinner" class="loading-spinner text-center py-3" style="display: none;">
                    <div class="spinner-border text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p>Loading...</p>
                </div>
                
                <div class="modal-body" id="product_type-dialog-body">
                    
                 </div>
                 
            </div>
            
        </div>
    </div>
    <%- include('../partials/footer'); %>
    <%- include('../partials/columnFilter'); %>

    <script>
        $(document).ready(function() {
            initializeDataTable('product-table');
            initializeDataTable('category-table');
            initializeDataTable('product_type_table');
            setTimeout(()=>{
                
                $('#success-toast').addClass("d-none");

            }, 3000)
        });
    </script>

    <script>
        $(document).on('click', '.btn-close', function () {
            $(".modal-title").text("");
        });

        htmx.on('htmx:beforeRequest', (e) => {
            const url = e.detail.elt.getAttribute('hx-get');

            // Handle Product Modal
            if (url.includes("/product")) {
                document.querySelector('#loading-spinner').style.display = 'block';
                document.getElementById('dialog-body').innerHTML = '';
            }

            // Handle Category Modal
            if (url.includes("/product_category")) {
                document.querySelector('#category-loading-spinner').style.display = 'block';
                document.getElementById('category-dialog-body').innerHTML = '';
            }

            // Handle Type Modal
            if (url.includes("/product_type")) {
                document.querySelector('#type-loading-spinner').style.display = 'block';
                document.getElementById('product_type-dialog-body').innerHTML = '';
            }
        });

        // Event listener for when the request completes (hide the spinner)
        htmx.on('htmx:afterRequest', function (e) {
            const url = e.detail.elt.getAttribute('hx-get');

            // Hide Product Spinner
            if (url.includes("/product")) {
                document.querySelector('#loading-spinner').style.display = 'none';
            }

            // Hide Category Spinner
            if (url.includes("/product_category")) {
                document.querySelector('#category-loading-spinner').style.display = 'none';
            }

            // Hide Type Spinner
            if (url.includes("/product_type")) {
                document.querySelector('#type-loading-spinner').style.display = 'none';
            }
        });

        // Event listener for handling request errors
        htmx.on('htmx:responseError', function (e) {
            const url = e.detail.elt.getAttribute('hx-get');

            // Hide Product Spinner on Error
            if (url.includes("/product")) {
                document.querySelector('#loading-spinner').style.display = 'none';
            }
            
            // Hide Category Spinner on Error
            if (url.includes("/product_category")) {
                document.querySelector('#category-loading-spinner').style.display = 'none';
            }

            // Hide Type Spinner on Error
            if (url.includes("/product_type")) {
                document.querySelector('#type-loading-spinner').style.display = 'none';
            }
        });

    </script>